@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />    
</head>
<body>
    <!-- DIV that hosts our React app  -->
    <div id="react-app">Loading...</div>

    <!-- Script that launches our React app -->
    <script src="~/dist/main.js" asp-append-version="true"></script>
</body>
</html>


